.button {
  color: white;
  background: -webkit-linear-gradient(left, #e5771b, #753d16);
  background-size: 200% 200%;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  border-width: 1px;
  padding: 13px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2em;
}
.button:hover {
  background: -webkit-linear-gradient(left, #e5771b, #e5771b);
}

.address {
  background-color: #e5771b;
  color: black;
  padding: 5px;
  border-radius: 5px;
  border: none;
}
